# Manipulação de Dados com Pandas I

## Importando os dados

Neste exemplo, trabalharemos com dados do ShoeFly.com, uma loja de calçados online fictícia. Podemos carregar dados no Pandas de um arquivo csv (variável separada por vírgula). Esses dados representam compras no ShoeFly.com. Vamos examinar as primeiras 10 linhas do nosso conjunto de dados:

In [2]:
import pandas as pd
df = pd.read_csv('shoefly_orders.csv')
df.head(10)

,id,first_name,last_name,email,shoe_type,shoe_material,shoe_color
0,54791,Rebecca,Lindsay,RebeccaLindsay57@hotmail.com,clogs,faux-leather,black
1,53450,Emily,Joyce,EmilyJoyce25@gmail.com,ballet flats,faux-leather,navy
2,91987,Joyce,Waller,Joyce.Waller@gmail.com,sandals,fabric,black
3,14437,Justin,Erickson,Justin.Erickson@outlook.com,clogs,faux-leather,red
4,79357,Andrew,Banks,AB4318@gmail.com,boots,leather,brown
5,52386,Julie,Marsh,JulieMarsh59@gmail.com,sandals,fabric,black
6,20487,Thomas,Jensen,TJ5470@gmail.com,clogs,fabric,navy
7,76971,Janice,Hicks,Janice.Hicks@gmail.com,clogs,faux-leather,navy
8,21586,Gabriel,Porter,GabrielPorter24@gmail.com,clogs,leather,brown
9,62083,Frances,Palmer,FrancesPalmer50@gmail.com,wedges,leather,white

Note que o dataframe tem uma sequência de identificadores, os índices, mesmo tendo um outro identificador, o `id`, nesse exemplo. 

Poderíamos setar o índice para ser justamente esse `id`, com o comando a seguir:

In [13]:
# solução
# df.set_index('id')

Para retroceder e colocar o índice numérico como estava, basta:

In [14]:
# df.reset_index()

Veja que surgiu uma coluna extra, caso não precise, você pode acrescentar a flag `drop=True` (use `inplace=True` se não quiser retornar para uma nova variável)

In [15]:
# df.reset_index(drop=True, inplace=True)
# df

In [12]:
df.to_excel('shoefly_orders.xlsx', index=False)

Se você não sabe o nome das colunas para pesquisar, pode obter com o seguinte comando:

In [16]:
# solução
df.columns

Index(['id', 'first_name', 'last_name', 'email', 'shoe_type', 'shoe_material',
       'shoe_color'],
      dtype='object')

Para obter informações completas e detalhadas (para devs!), basta rodar o seguinte comando:

In [39]:
# solução
# df.info()
# df.shape
df.describe

<bound method NDFrame.describe of        id  first_name   last_name                         email     shoe_type  \
0   54791     Rebecca     Lindsay  RebeccaLindsay57@hotmail.com         clogs
1   53450       Emily       Joyce        EmilyJoyce25@gmail.com  ballet flats
2   91987       Joyce      Waller        Joyce.Waller@gmail.com       sandals
3   14437      Justin    Erickson   Justin.Erickson@outlook.com         clogs
4   79357      Andrew       Banks              AB4318@gmail.com         boots
5   52386       Julie       Marsh        JulieMarsh59@gmail.com       sandals
6   20487      Thomas      Jensen              TJ5470@gmail.com         clogs
7   76971      Janice       Hicks        Janice.Hicks@gmail.com         clogs
8   21586     Gabriel      Porter     GabrielPorter24@gmail.com         clogs
9   62083     Frances      Palmer     FrancesPalmer50@gmail.com        wedges
10  91629     Jessica        Hale       JessicaHale25@gmail.com         clogs
11  98602    Lawrence      Parker    LawrenceParker44@gmail.com        wedges
12  45832       Susan      Dennis       SusanDennis58@gmail.com  ballet flats
13  33862       Diane       Ochoa              DO2680@gmail.com       sandals
14  73431     Rebecca     Charles     Rebecca.Charles@gmail.com         boots
15  93889  Jacqueline       Crane            JC2072@hotmail.com        wedges
16  39888     Vincent  Stephenson            VS4753@outlook.com         boots
17  35961         Roy     Tillman        RoyTillman20@gmail.com         boots
18  24560      Thomas    Roberson     Thomas.Roberson@gmail.com        wedges
19  28559      Angela      Newton       ANewton1977@outlook.com        wedges

   shoe_material shoe_color
0   faux-leather      black
1   faux-leather       navy
2         fabric      black
3   faux-leather        red
4        leather      brown
5         fabric      black
6         fabric       navy
7   faux-leather       navy
8        leather      brown
9        leather      white
10       leather        red
11        fabric      brown
12        fabric      white
13        fabric        red
14  faux-leather      white
15        fabric        red
16       leather      black
17       leather      white
18        fabric        red
19        fabric        red  >

## Extraindo as primeiras informações

Se você quiser apenas os e-mails de todos os clientes, basta selecionar pela coluna:

In [22]:
# solução
emails = df.email
print(type(emails))
print(type(df))
print(emails)

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
0     RebeccaLindsay57@hotmail.com
1           EmilyJoyce25@gmail.com
2           Joyce.Waller@gmail.com
3      Justin.Erickson@outlook.com
4                 AB4318@gmail.com
5           JulieMarsh59@gmail.com
6                 TJ5470@gmail.com
7           Janice.Hicks@gmail.com
8        GabrielPorter24@gmail.com
9        FrancesPalmer50@gmail.com
10         JessicaHale25@gmail.com
11      LawrenceParker44@gmail.com
12         SusanDennis58@gmail.com
13                DO2680@gmail.com
14       Rebecca.Charles@gmail.com
15              JC2072@hotmail.com
16              VS4753@outlook.com
17          RoyTillman20@gmail.com
18       Thomas.Roberson@gmail.com
19         ANewton1977@outlook.com
Name: email, dtype: object

Ou selecionar nome, sobrenome e email, o que faz mais sentido:

In [24]:
# solução
customers_and_emails = df[['first_name', 'last_name', 'email']]
customers_and_emails

    first_name   last_name                         email
0      Rebecca     Lindsay  RebeccaLindsay57@hotmail.com
1        Emily       Joyce        EmilyJoyce25@gmail.com
2        Joyce      Waller        Joyce.Waller@gmail.com
3       Justin    Erickson   Justin.Erickson@outlook.com
4       Andrew       Banks              AB4318@gmail.com
5        Julie       Marsh        JulieMarsh59@gmail.com
6       Thomas      Jensen              TJ5470@gmail.com
7       Janice       Hicks        Janice.Hicks@gmail.com
8      Gabriel      Porter     GabrielPorter24@gmail.com
9      Frances      Palmer     FrancesPalmer50@gmail.com
10     Jessica        Hale       JessicaHale25@gmail.com
11    Lawrence      Parker    LawrenceParker44@gmail.com
12       Susan      Dennis       SusanDennis58@gmail.com
13       Diane       Ochoa              DO2680@gmail.com
14     Rebecca     Charles     Rebecca.Charles@gmail.com
15  Jacqueline       Crane            JC2072@hotmail.com
16     Vincent  Stephenson            VS4753@outlook.com
17         Roy     Tillman        RoyTillman20@gmail.com
18      Thomas    Roberson     Thomas.Roberson@gmail.com
19      Angela      Newton       ANewton1977@outlook.com

Podemos selecionar todos que pediram sandálias pretas.

In [26]:
df[(df.shoe_type == 'sandals') & (df.shoe_color == 'black')]

,id,first_name,last_name,email,shoe_type,shoe_material,shoe_color
2,91987,Joyce,Waller,Joyce.Waller@gmail.com,sandals,fabric,black
5,52386,Julie,Marsh,JulieMarsh59@gmail.com,sandals,fabric,black

Ou quem pediu algum calçado branco ou preto?

In [27]:
# df[(df.shoe_color == 'white') | (df.shoe_color == 'black')]
df[df.shoe_color.isin(['white', 'black'])]

,id,first_name,last_name,email,shoe_type,shoe_material,shoe_color
0,54791,Rebecca,Lindsay,RebeccaLindsay57@hotmail.com,clogs,faux-leather,black
2,91987,Joyce,Waller,Joyce.Waller@gmail.com,sandals,fabric,black
5,52386,Julie,Marsh,JulieMarsh59@gmail.com,sandals,fabric,black
9,62083,Frances,Palmer,FrancesPalmer50@gmail.com,wedges,leather,white
12,45832,Susan,Dennis,SusanDennis58@gmail.com,ballet flats,fabric,white
14,73431,Rebecca,Charles,Rebecca.Charles@gmail.com,boots,faux-leather,white
16,39888,Vincent,Stephenson,VS4753@outlook.com,boots,leather,black
17,35961,Roy,Tillman,RoyTillman20@gmail.com,boots,leather,white

Vamos ver o que Susan Dennis pediu.

In [29]:
df[(df.first_name == 'Susan') & (df.last_name == 'Dennis')]

,id,first_name,last_name,email,shoe_type,shoe_material,shoe_color
12,45832,Susan,Dennis,SusanDennis58@gmail.com,ballet flats,fabric,white

Ainda é possível acessar diretamente usando `loc` ou `iloc`:

In [35]:
df.loc[(df.shoe_type == 'sandals') & (df.shoe_color == 'black'), ['id', 'shoe_material' ]]

      id shoe_material
2  91987        fabric
5  52386        fabric

In [40]:
df.iloc[1,4]
print(df.iloc[[0,2,5], 2])

0    Lindsay
2     Waller
5      Marsh
Name: last_name, dtype: object

Para criar novas colunas com valores baseados em condições usando função lambda, vamos ao seguinte exemplo: Muitos dos nossos clientes querem comprar sapatos veganos (sapatos feitos de materiais que não vêm de animais). Adicione uma nova coluna chamada `shoe_source`, que é `vegan` se os materiais não forem `leather` e `animal` caso contrário.

In [42]:
df['shoe_source'] = df.shoe_material.apply(lambda x: 'vegan' if x != 'leather' else 'animal')
df.head()

,id,first_name,last_name,email,shoe_type,shoe_material,shoe_color,shoe_source
0,54791,Rebecca,Lindsay,RebeccaLindsay57@hotmail.com,clogs,faux-leather,black,vegan
1,53450,Emily,Joyce,EmilyJoyce25@gmail.com,ballet flats,faux-leather,navy,vegan
2,91987,Joyce,Waller,Joyce.Waller@gmail.com,sandals,fabric,black,vegan
3,14437,Justin,Erickson,Justin.Erickson@outlook.com,clogs,faux-leather,red,vegan
4,79357,Andrew,Banks,AB4318@gmail.com,boots,leather,brown,animal

## Operando Strings

Similares as funções nativas de Python, temos como saber o tamanho, rebaixar para minúsculas ou aumentar para maiúsculas, fazer replace, verificar se contém, ou ainda fazer split, sempre a partir da propriedade `str`:

In [47]:
# solução
df.first_name.str.len()
df.shoe_type.str.upper()
df.shoe_material.str.replace('fabric', 'cotton')
df.email.str.contains('gmail')
df.email.str.strip('@')

0     RebeccaLindsay57@hotmail.com
1           EmilyJoyce25@gmail.com
2           Joyce.Waller@gmail.com
3      Justin.Erickson@outlook.com
4                 AB4318@gmail.com
5           JulieMarsh59@gmail.com
6                 TJ5470@gmail.com
7           Janice.Hicks@gmail.com
8        GabrielPorter24@gmail.com
9        FrancesPalmer50@gmail.com
10         JessicaHale25@gmail.com
11      LawrenceParker44@gmail.com
12         SusanDennis58@gmail.com
13                DO2680@gmail.com
14       Rebecca.Charles@gmail.com
15              JC2072@hotmail.com
16              VS4753@outlook.com
17          RoyTillman20@gmail.com
18       Thomas.Roberson@gmail.com
19         ANewton1977@outlook.com
Name: email, dtype: object

## Exercícios

In [66]:
# Exercício 1
df_cancer = pd.read_csv('Cancer_Data.csv')
df_diagnosis_B = df_cancer[df_cancer.diagnosis == 'B']
df_diagnosis_B.index.size

357

In [76]:
# Exercício 2
df_cancer['diagnosis'] = df_cancer['diagnosis'].replace({'B': 'benign cancer', 'M': 'malignant cancer'})
df_cancer

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,malignant cancer,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,malignant cancer,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,malignant cancer,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,malignant cancer,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,malignant cancer,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,malignant cancer,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,malignant cancer,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,malignant cancer,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,malignant cancer,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,benign cancer,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

In [73]:
# Exercício 3

df_cancer[(df_cancer.diagnosis == 'M') & (df_cancer.radius_mean > 25)]

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
82,8611555,M,25.22,24.91,171.5,1878.0,0.1063,0.2665,0.3339,0.1845,...,33.62,211.7,2562.0,0.1573,0.6076,0.6476,0.2867,0.2355,0.10510,NaN
180,873592,M,27.22,21.87,182.1,2250.0,0.1094,0.1914,0.2871,0.1878,...,32.85,220.8,3216.0,0.1472,0.4034,0.5340,0.2688,0.2856,0.08082,NaN
212,8810703,M,28.11,18.47,188.5,2499.0,0.1142,0.1516,0.3201,0.1595,...,18.47,188.5,2499.0,0.1142,0.1516,0.3201,0.1595,0.1648,0.05525,NaN
352,899987,M,25.73,17.46,174.2,2010.0,0.1149,0.2363,0.3368,0.1913,...,23.58,229.3,3234.0,0.1530,0.5937,0.6451,0.2756,0.3690,0.08815,NaN
461,911296202,M,27.42,26.27,186.9,2501.0,0.1084,0.1988,0.3635,0.1689,...,31.37,251.2,4254.0,0.1357,0.4256,0.6833,0.2625,0.2641,0.07427,NaN