In [22]:
import pandas as pd

df = pd.read_csv('realtor-data.zip.csv')
df

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
0,103378.0,for_sale,105000.0,3.0,2.0,0.12,1962661.0,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,52707.0,for_sale,80000.0,4.0,2.0,0.08,1902874.0,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,103379.0,for_sale,67000.0,2.0,1.0,0.15,1404990.0,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,31239.0,for_sale,145000.0,4.0,2.0,0.10,1947675.0,Ponce,Puerto Rico,731.0,1800.0,NaN
4,34632.0,for_sale,65000.0,6.0,2.0,0.05,331151.0,Mayaguez,Puerto Rico,680.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2226377,23009.0,sold,359900.0,4.0,2.0,0.33,353094.0,Richland,Washington,99354.0,3600.0,2022-03-25
2226378,18208.0,sold,350000.0,3.0,2.0,0.10,1062149.0,Richland,Washington,99354.0,1616.0,2022-03-25
2226379,76856.0,sold,440000.0,6.0,3.0,0.50,405677.0,Richland,Washington,99354.0,3200.0,2022-03-24
2226380,53618.0,sold,179900.0,2.0,1.0,0.09,761379.0,Richland,Washington,99354.0,933.0,2022-03-24
2226381,108243.0,sold,580000.0,5.0,3.0,0.31,307704.0,Richland,Washington,99354.0,3615.0,2022-03-23

In [8]:
# somente casas for_sale
df = df[df['status'] == 'for_sale']
df

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
0,103378.0,for_sale,105000.0,3.0,2.0,0.12,1962661.0,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,52707.0,for_sale,80000.0,4.0,2.0,0.08,1902874.0,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,103379.0,for_sale,67000.0,2.0,1.0,0.15,1404990.0,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,31239.0,for_sale,145000.0,4.0,2.0,0.10,1947675.0,Ponce,Puerto Rico,731.0,1800.0,NaN
4,34632.0,for_sale,65000.0,6.0,2.0,0.05,331151.0,Mayaguez,Puerto Rico,680.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1414368,21688.0,for_sale,299000.0,NaN,NaN,0.67,1945525.0,Ketchikan,Alaska,99901.0,NaN,NaN
1414369,21688.0,for_sale,299000.0,NaN,NaN,0.67,1909223.0,Ketchikan,Alaska,99901.0,NaN,NaN
1414370,21688.0,for_sale,199000.0,NaN,NaN,1.31,1909223.0,Ketchikan,Alaska,99901.0,NaN,NaN
1414371,21688.0,for_sale,1575000.0,NaN,NaN,292.58,1909223.0,Ketchikan,Alaska,99901.0,NaN,NaN
1414372,21688.0,for_sale,1575000.0,NaN,NaN,292.58,1860290.0,Ketchikan,Alaska,99901.0,NaN,NaN

In [12]:
# sem duplicidades de status, city, state e price
# priorizando as casas maiores
df = df.sort_values('house_size')
df = df.drop_duplicates(['status', 'city', 'state', 'price'], keep='last')
df

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
129837,98430.0,for_sale,1850000.0,4.0,4.0,NaN,699459.0,Laurel,New York,11948.0,4.0,2016-02-10
7889,100305.0,for_sale,20000.0,1.0,1.0,NaN,1052993.0,South Windsor,Connecticut,6074.0,100.0,NaN
172091,22351.0,for_sale,129000.0,1.0,1.0,15.81,1122199.0,Augusta,West Virginia,26704.0,100.0,NaN
1296520,81162.0,for_sale,42500.0,NaN,NaN,0.00,1144441.0,Big Bear Lake,California,92315.0,100.0,NaN
1300953,97358.0,for_sale,650000.0,3.0,2.0,95832.00,707110.0,Moreno Valley,California,92557.0,100.0,2006-07-05
...,...,...,...,...,...,...,...,...,...,...,...,...
1411877,53077.0,for_sale,55000.0,3.0,1.0,NaN,1808219.0,Anchorage,Alaska,99507.0,NaN,NaN
1413881,61013.0,for_sale,8500.0,NaN,NaN,NaN,1903994.0,Nenana,Alaska,99760.0,NaN,NaN
1413949,79471.0,for_sale,624900.0,3.0,4.0,NaN,493925.0,Douglas,Alaska,99824.0,NaN,2021-03-30
1413977,38689.0,for_sale,169000.0,2.0,1.0,NaN,26288.0,Gustavus,Alaska,99826.0,NaN,NaN
1414365,57432.0,for_sale,325000.0,3.0,2.0,NaN,230017.0,Ketchikan,Alaska,99901.0,NaN,NaN

In [11]:
# amostra com 1000 registros, sendo 
# 250 do estado de Massachusetts
massachusetts = df[df['state'] == 'Massachusetts']
sample_1 = massachusetts.sample(n=250)
# 250 do estado de Puerto Rico
puerto_rico = df[df['state'] == 'Puerto Rico']
sample_2 = puerto_rico.sample(n=250)
# 250 do estado de Connecticut 
connecticut = df[df['state'] == 'Connecticut']
sample_3 = connecticut.sample(n=250)
# 250 do estado de Rhode Island e New York
new_york = df[(df['state'] == 'Rhode Island') | (df['state'] == 'New York')]
sample_4 = new_york.sample(n=250)

sample = pd.concat([sample_1, sample_2, sample_3, sample_4])
sample

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
18412,20005.0,for_sale,649000.0,3.0,3.0,NaN,1563841.0,Hull,Massachusetts,2045.0,3000.0,NaN
17208,38539.0,for_sale,589000.0,2.0,2.0,NaN,249868.0,Boston,Massachusetts,2128.0,941.0,NaN
18681,2563.0,for_sale,750000.0,4.0,2.0,0.10,1122438.0,Quincy,Massachusetts,2169.0,1664.0,NaN
5378,10198.0,for_sale,159900.0,4.0,2.0,0.22,1369405.0,Pittsfield,Massachusetts,1201.0,1870.0,2002-01-04
19606,24029.0,for_sale,250000.0,NaN,NaN,8.14,1895351.0,Marion,Massachusetts,2738.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
123679,14073.0,for_sale,385000.0,1.0,1.0,NaN,1051843.0,Queens,New York,11372.0,NaN,NaN
126022,70051.0,for_sale,157700.0,2.0,1.0,NaN,361649.0,Jamaica,New York,11435.0,1800.0,NaN
136990,56591.0,for_sale,239900.0,NaN,NaN,35.36,1920858.0,Saugerties,New York,12477.0,NaN,NaN
143225,15018.0,for_sale,1500000.0,NaN,NaN,9.00,1757188.0,Syracuse,New York,13212.0,NaN,NaN
141332,11376.0,for_sale,300000.0,3.0,2.0,0.28,1669907.0,Queensbury,New York,12804.0,1904.0,2021-11-10

In [23]:
df.isna().sum()

brokered_by         4533
status                 0
price               1541
bed               481317
bath              511771
acre_lot          325589
street             10866
city                1407
state                  8
zip_code             299
house_size        568484
prev_sold_date    734297
dtype: int64

In [34]:
# Eliminar as linhas com missing values em variáveis categóricas.
df.dropna(subset=['status', 'state', 'city', 'prev_sold_date'], inplace=True)
df.isna().sum()

brokered_by         3610
status                 0
price                  0
bed                    0
bath                   0
acre_lot          194552
street              5218
city                   0
state                  0
zip_code              28
house_size             0
prev_sold_date         0
prev_sold_year         0
dtype: int64

In [26]:
# Substituir missing values das colunas bed e bath por zero.
# Substituir missing values das colunas house_size pela mediana.  
df.fillna({'bed':0, 'bath':0, 'house_size':df['house_size'].median()}, inplace=True)
df.isna().sum()

brokered_by         3610
status                 0
price                500
bed                    0
bath                   0
acre_lot          194589
street              5218
city                   0
state                  0
zip_code              28
house_size             0
prev_sold_date         0
dtype: int64

In [33]:
# pivot
df['prev_sold_date'] = pd.to_datetime(df['prev_sold_date'])
df['prev_sold_year'] = df['prev_sold_date'].dt.year
df.pivot(columns='prev_sold_year', index='state', values='price')

ValueError: Index contains duplicate entries, cannot reshape

In [35]:
df.pivot_table(columns='prev_sold_year', index='state', values='price', aggfunc='sum')

prev_sold_year,1901.0,1904.0,1905.0,1906.0,1909.0,1910.0,1926.0,1928.0,1935.0,1939.0,...,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0,2024.0,2026.0
state,,,,,,,,,,,,,,,,,,,,,
Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.577535e+08,1.879786e+08,2.283331e+08,2.492664e+08,2.583852e+08,1.058437e+09,1.182149e+09,NaN,NaN,NaN
Alaska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.277950e+07,1.033030e+07,1.951011e+07,1.638910e+07,1.127095e+07,9.253900e+06,1.656500e+06,NaN,NaN,NaN
Arizona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.802036e+08,7.437501e+08,8.381857e+08,1.026771e+09,1.268011e+09,4.225249e+09,1.379100e+10,NaN,NaN,NaN
Arkansas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.241199e+08,1.203224e+08,1.588960e+08,1.747626e+08,1.993990e+08,6.862868e+08,1.070600e+09,15850.0,46000.0,NaN
California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.113502e+09,4.677060e+09,5.461445e+09,4.606512e+09,3.660026e+09,3.752772e+10,9.221602e+10,25001933.0,NaN,NaN
Colorado,NaN,NaN,NaN,345000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,6.554467e+08,7.897739e+08,9.680489e+08,1.000312e+09,1.022949e+09,2.105935e+09,2.118618e+09,NaN,NaN,NaN
Connecticut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.152843e+08,2.210716e+08,2.190968e+08,2.355868e+08,2.521178e+08,3.936322e+08,4.190233e+07,NaN,NaN,NaN
Delaware,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.580708e+07,6.219597e+07,6.826105e+07,7.722792e+07,6.627174e+07,6.031969e+08,7.064271e+08,NaN,NaN,NaN
District of Columbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.993221e+07,1.303109e+08,1.205149e+08,1.450583e+08,8.964862e+07,1.106188e+09,2.186004e+09,NaN,NaN,NaN
Florida,NaN,NaN,NaN,NaN,450000.0,NaN,NaN,NaN,NaN,NaN,...,3.177688e+09,3.946383e+09,5.087105e+09,5.175725e+09,5.841633e+09,1.790155e+10,2.900865e+10,4062400.0,NaN,NaN
Georgia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.945865e+08,3.568566e+08,5.628022e+08,5.988759e+08,6.938270e+08,3.694854e+09,1.341318e+10,30859904.0,1493890.0,235000.0
Hawaii,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.636370e+08,2.567042e+08,3.290165e+08,2.870383e+08,2.721421e+08,3.959740e+08,3.585343e+08,NaN,NaN,NaN
Idaho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.224010e+07,8.621699e+07,1.285467e+08,1.563636e+08,1.272332e+08,9.325999e+08,3.497127e+09,237371100.0,NaN,NaN
Illinois,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.903356e+08,7.841102e+08,8.041766e+08,7.296348e+08,5.587202e+08,2.951143e+09,8.000550e+09,NaN,NaN,NaN
Indiana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.219442e+08,1.398363e+08,1.727290e+08,1.999812e+08,2.264109e+08,3.061675e+08,7.645570e+07,NaN,NaN,NaN
Iowa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.759695e+07,1.026613e+08,1.358664e+08,1.395850e+08,1.473245e+08,1.043264e+09,1.468678e+09,NaN,NaN,NaN
Kansas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.341122e+07,6.584088e+07,8.842567e+07,1.048735e+08,1.328785e+08,5.169299e+08,5.301058e+08,NaN,NaN,NaN
Kentucky,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.268505e+08,1.350659e+08,1.587910e+08,2.075266e+08,1.916387e+08,8.993532e+08,1.177760e+09,2849900.0,NaN,NaN
Louisiana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.620276e+08,1.684698e+08,1.969160e+08,2.086217e+08,2.069893e+08,4.314452e+08,4.283251e+08,NaN,NaN,NaN
Maine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.232670e+07,2.088540e+07,1.225962e+07,1.362211e+07,1.884120e+07,2.241338e+07,5.593000e+05,NaN,NaN,NaN
Maryland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.052561e+08,3.819018e+08,3.810338e+08,3.906027e+08,3.011748e+08,4.077892e+09,7.557807e+09,NaN,NaN,NaN
Massachusetts,339000.0,NaN,NaN,NaN,NaN,269000.0,NaN,NaN,NaN,NaN,...,1.276510e+07,5.639400e+06,7.499170e+07,1.044407e+08,5.581515e+07,9.183689e+09,8.573274e+09,NaN,NaN,NaN
Michigan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.388104e+08,2.908842e+08,3.219819e+08,3.105922e+08,2.678371e+08,8.505067e+08,9.954709e+08,NaN,NaN,NaN
Minnesota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.340214e+08,3.620868e+08,4.059452e+08,4.245086e+08,3.729618e+08,2.264904e+09,4.813015e+09,629900.0,NaN,NaN
Mississippi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145000.0,...,4.433364e+07,4.921868e+07,4.718682e+07,5.613094e+07,5.909658e+07,1.495259e+08,1.840799e+08,NaN,NaN,NaN
Missouri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.856716e+08,1.772284e+08,2.107036e+08,2.514134e+08,2.896504e+08,1.885269e+09,2.408168e+09,NaN,NaN,NaN
Montana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.692932e+07,9.508320e+07,8.713640e+07,1.196755e+08,1.236189e+08,5.163473e+08,1.117005e+09,NaN,NaN,NaN
Nebraska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.545660e+07,7.129933e+07,7.972937e+07,9.324572e+07,9.575069e+07,1.641486e+08,9.893802e+07,NaN,NaN,NaN
Nevada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.790274e+07,2.859133e+08,4.748882e+08,4.381165e+08,4.125515e+08,1.379662e+09,1.773274e+09,NaN,NaN,NaN
New Brunswick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.500000e+03,NaN,NaN,NaN,NaN
New Hampshire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.407270e+07,3.223910e+07,4.706812e+07,6.271674e+07,3.215972e+07,7.899059e+07,2.393872e+07,NaN,NaN,NaN
New Jersey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.645476e+08,6.336736e+08,6.918580e+08,6.723262e+08,7.244441e+08,3.416489e+09,5.236430e+09,1578420.0,NaN,NaN
New Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.329654e+07,7.176148e+07,8.036068e+07,8.993030e+07,7.976123e+07,9.186144e+08,1.945241e+09,NaN,NaN,NaN
New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.372728e+09,2.296130e+09,1.867994e+09,1.652455e+09,1.306737e+09,5.923533e+09,1.586737e+10,NaN,NaN,NaN
North Carolina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.076125e+08,4.628851e+08,6.410831e+08,7.006721e+08,6.489050e+08,4.079642e+09,5.799248e+09,NaN,NaN,NaN
North Dakota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.417730e+07,2.760820e+07,3.810248e+07,4.252111e+07,4.232686e+07,6.226970e+07,1.048723e+07,NaN,NaN,NaN
Ohio,NaN,249900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.942390e+08,3.411873e+08,3.995221e+08,4.588275e+08,4.015770e+08,2.053646e+09,2.480278e+09,NaN,NaN,NaN
Oklahoma,NaN,NaN,405000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.317209e+08,1.689066e+08,1.810511e+08,1.973574e+08,1.957626e+08,1.744118e+09,3.218080e+09,1041000.0,170000.0,NaN
Oregon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.823745e+08,4.649756e+08,4.764678e+08,5.014875e+08,4.951468e+08,1.845743e+09,5.347525e+09,NaN,NaN,NaN
Pennsylvania,NaN,NaN,NaN,NaN,85900.0,NaN,NaN,6885000.0,135900.0,NaN,...,4.696422e+08,5.263659e+08,5.588367e+08,6.010162e+08,4.490121e+08,3.860064e+09,5.409003e+09,NaN,NaN,NaN
Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.100000e+05,7.690000e+04,7.459602e+07,1.339518e+08,NaN,NaN,NaN
Rhode Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.744070e+07,5.274428e+07,8.563490e+07,6.362680e+07,6.254856e+07,1.004282e+09,1.059005e+09,NaN,NaN,NaN
South Carolina,NaN,NaN,NaN,NaN,NaN,NaN,599999.0,NaN,NaN,NaN,...,3.120621e+08,3.683516e+08,3.982732e+08,4.737514e+08,5.081559e+08,2.061373e+09,2.965629e+09,13066001.0,NaN,NaN
South Dakota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.932070e+07,1.956430e+07,2.752319e+07,4.366560e+07,7.353400e+06,1.330675e+07,1.594450e+07,NaN,NaN,NaN
Tennessee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.155440e+08,3.788080e+08,4.672261e+08,5.769146e+08,5.382406e+08,1.035980e+09,1.004739e+09,NaN,NaN,NaN
Texas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.301531e+09,1.369879e+09,1.515905e+09,1.781737e+09,1.523491e+09,8.930369e+09,2.373320e+10,100000.0,NaN,NaN
Utah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.019529e+08,2.649602e+08,2.667838e+08,2.944198e+08,3.011989e+08,5.964846e+08,6.451191e+08,NaN,NaN,NaN
Vermont,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.908695e+07,1.649722e+07,1.392570e+07,2.219840e+07,3.767480e+07,2.026155e+07,5.154518e+06,NaN,NaN,NaN
Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.560000e+05,NaN,6.899000e+06,NaN,NaN,2.611370e+07,4.078060e+07,NaN,NaN,NaN
Virginia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.309251e+08,5.035663e+08,5.299514e+08,6.071453e+08,4.490082e+08,7.017470e+09,1.026801e+10,33376407.0,NaN,NaN
Washington,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.290304e+08,7.654750e+08,8.013332e+08,8.685407e+08,5.646653e+08,7.034256e+09,1.715909e+10,719008.0,NaN,NaN
West Virginia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.231980e+07,1.680859e+07,1.930320e+07,3.962452e+07,3.693492e+07,3.661071e+08,5.193633e+08,591500.0,NaN,NaN
Wisconsin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.878757e+08,1.938964e+08,1.850588e+08,2.054380e+08,1.916476e+08,2.233533e+09,3.059341e+09,93900.0,NaN,NaN
Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.222510e+07,1.656570e+07,2.139524e+07,2.796335e+07,1.701330e+07,1.617259e+07,1.923253e+08,3589400.0,NaN,NaN